@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.page {
		@apply grid gap-6 max-w-screen-lg mx-auto;
	}
	.form {
		@apply max-w-screen-lg w-full mx-auto;
	}
	.form-input {
		@apply grid gap-2;
	}

	.form-input label {
		@apply font-normal block mb-2  text-xl text-gray-900;
	}

	.form-input input,
	.form-input textarea {
		@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 outline-none;
	}

	.form-input textarea {
		@apply min-h-32;
	}

	.form-input select {
		@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 outline-none;
	}
	.btn {
		@apply flex items-center justify-center shadow-sm outline-none focus:right-4 px-1 py-2;
	}
	.btn.blue {
		@apply text-white bg-blue-700 hover:bg-blue-900 focus:ring-blue-300 px-3 py-1 rounded-lg;
	}
	.btn.green {
		@apply text-white bg-green-700 hover:bg-green-900 focus:ring-green-300 px-3 py-1 rounded-lg;
	}
	.btn.red {
		@apply text-white bg-red-700 hover:bg-red-900 focus:ring-red-300 px-3 py-1 rounded-lg;
	}
	.btn.red.disable {
		@apply bg-red-400;
	}
	.table-wrapper {
		@apply relative overflow-x-auto shadow-md sm:rounded-lg;
	}
	.table-wrapper table {
		@apply w-full text-sm text-left rtl:text-right text-gray-500;
	}
	.table-wrapper table thead {
		@apply text-xs text-gray-700 uppercase bg-gray-50;
	}
	.table-wrapper table thead tr th {
		@apply px-6 py-3;
	}
	.table-wrapper table thead tr th.row,
	.table-wrapper table thead tr th.action {
		@apply w-1/12;
	}
	.table-wrapper table tbody tr {
		@apply odd:bg-white  even:bg-gray-50 even:dark:bg-gray-800 border-b;
	}
	.table-wrapper table tbody tr td {
		@apply px-6 py-4 text-gray-900;
	}
}

@layer base {
	@font-face {
		font-family: yekan;
		src: url(./assets/font/BYekan.ttf);
	}
}

body,
html,
* {
	font-family: 'yekan';
}
